.entire{
    display:flex;
    width:90%;
    border:1px solid red;
    margin:0 auto;
}

/* 左側部分 */
.inform {
    display: block;
    width: 65%;
    border: 1px solid blue;
}

.content {
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    display: flex;
    width:80%;
    margin: 0 auto;
}

.content-inner {
    display: inline-block;
    margin: 50px 70px 0px 0px;
    border: 1px solid black;
    width: 30%;
}

.content-img {
    display: block;
}

.content__title {
    display: block;
    border: 1px solid black;
}

.content__title-text {
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    line-height: 100%;
    margin: 0 0;
}

.content__brand-name {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    margin: 0 0;
}

.content__price {
    display: block;
    margin: 30px 0px;
}

.subscript {
    display: inline;
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    margin: 0 0;
}

.main-text {
    display: inline;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    line-height: 100%;
    margin: 0 0;
}

.payment{
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    width: 80%;
    margin: 0 auto;
}
.payment__title{
    border: 1px solid rgb(19, 126, 239);
    margin-left:2.5%;
}
.payment__title--text{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 100%;
}
.payment__method{}
.form__error{}

.destination{
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    width: 80%;
    margin: 0 auto 30px auto;
}
.destination__header{
    display:flex;
    align-items: center;
    justify-content: space-between
}

.destination__title{
    display:block;
    border: 1px solid rgb(19, 126, 239);
    /* line-height: 100%; */
    margin-left:2.5%;
}

.destination__title--text{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 100%;
    border: 1px solid rgb(19, 126, 239);
}

.destination__form{
    display:block;
    border: 1px solid rgb(246, 12, 12);
    line-height: 100%;
    margin-right:2.5%;
}

.destination__form--button{
    border:none;
    background:none;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 100%;
    /* vertical-align: middle; */
}
.destination__content{}
.destination__content-post{}
.destination__content-address{}
.destination__content-build{}


/* 右側 */
.confirm {
    display: block;
    width: 35%;
    border: 1px solid green;
}

.confirm__inner{}
.confirm__title{}
.confirm__title--text{}
.confirm__content{}
.purchase__form{}
.purchase__button{}