/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/storage/*
!/storage/app/public
/storage/app/public/*
!/storage/app/public/item1.jpeg
!/storage/app/public/item2.jpeg
!/storage/app/public/item3.jpeg
!/storage/app/public/item4.jpeg
!/storage/app/public/item5.jpeg
!/storage/app/public/item6.jpeg
!/storage/app/public/item7.jpeg
!/storage/app/public/item8.jpeg
!/storage/app/public/item9.jpeg
!/storage/app/public/item10.jpeg
!/storage/app/public/profile1.png
!/storage/app/public/profile3.png
!/storage/app/public/profile5.png